.label {
  font-size: 20px;
  margin-inline-end: 5px;
  color: var(--primary-text-bold);
  text-transform: capitalize;
  font-weight: 600;
}

.select {
  width: 50%;
  background: var(--primary-select-color);
  color: var(--primary-select-text-color);

  padding: 5px;
  border: 2px solid var(--primary-select-border-color);
  /* color: var(--primary-select-text-color); */
}
